@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap");
@font-face {
  font-family: 'IBMPlexSansKR-Regular';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  font-family: "IBMPlexSansKR-Regular", "맑은 고딕", sans-serif;
  box-sizing: border-box;
  word-break: keep-all;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  margin: auto;
  width: 1000px;
  position: relative;
  padding-top: 200px;
}

.container.lgBtn {
  width: fit-content;
  position: absolute;
  top: 20%;
  right: 0;
  padding-top: 0;
}

.container.lgBtn > input {
  border: 0;
  padding: 2px 10px;
  font-size: 13px;
  background-color: #fff;
  color: #89bfcf;
  border: 1px solid #aad2e9;
  border-radius: 2px;
  cursor: pointer;
  transition: .3s ease;
}

@media (hover: hover) {
  .lgBtn > input:hover {
    transform: translateY(-5px);
    background-color: #66aed8;
    color: #fff;
  }
}

.board {
  width: 1000px;
  margin: auto;
  transition: .6s ease;
}

.board.inner, .board.line {
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.058), 4px 4px 15px rgba(0, 0, 0, 0.028);
  width: 750px;
  padding: 50px;
  border-radius: 5px;
}

.board.inner > .innerTop > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.board.inner > .innerTop > li > p {
  font-size: 14px;
  color: #78c9e9;
  font-weight: 600;
  padding-bottom: 5px;
}

.board.inner > .innerTop > li > input {
  font-size: 13px;
  letter-spacing: 2px;
  padding: 2px 10px;
  background-color: #66aed8;
  color: #fff;
  border: 0;
  border-radius: 2px;
  transition: .1s ease;
  cursor: pointer;
}

.board.inner > .innerTop > li > input:hover {
  background-color: #449ccf;
}

.board > h2 {
  text-align: center;
  font-size: 30px;
  color: #444444;
  padding-bottom: 30px;
}

.bList {
  font-size: 14px;
}

.boardLi {
  text-align: end;
}

.boardLi > input[type="button"] {
  padding: 4px 8px;
  border: 0;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  transition: .2s ease;
}

.boardLi > input[type="button"]#del {
  background-color: #555;
  margin-right: 2px;
}

.boardLi > input[type="button"]#del:hover {
  background-color: #444;
}

.boardLi > input[type="button"]#cor {
  background-color: #da4835;
}

.boardLi > input[type="button"]#cor:hover {
  background-color: #ce3b27;
}

.listOpt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.listOpt > p > span {
  color: #f05627;
  font-weight: bold;
}

.listOpt > input {
  border: 0;
  padding: 2px 10px;
  background-color: #66aed8;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  font-size: 14px;
  color: #eee;
  border-radius: 2px;
}

.list {
  display: grid;
  grid-template-columns: 1fr 5.5fr 1.5fr 1fr 1fr;
  text-align: center;
  border-collapse: collapse;
  color: #444444;
}

.list > li {
  padding: 10px;
  align-self: center;
}

.list > li:not(:nth-child(5)) {
  border-right: 0;
}

.list.listName {
  background-color: #ebf8fa;
  color: #666666;
}

.list.listName > li {
  border-top: 0;
}

.list.listValue {
  border-bottom: 1px solid #eee;
  color: #222222;
}

.list.listValue:hover {
  background-color: #f8f8f8;
  transition: .2s ease;
}

.list.listValue > li {
  padding: 20px 10px;
}

.list.listValue > li:nth-child(2) {
  width: fit-content;
  cursor: pointer;
}

.list.listValue > li:nth-child(2):hover {
  font-weight: bold;
  color: #222222;
}

.list.listValue > li:not(:nth-child(2)) {
  font-size: 13px;
}

.list.listValue > li:first-child, .list.listValue > li:nth-child(3), .list.listValue > li:nth-child(4) {
  color: #999;
}

.page {
  padding-top: 30px;
  display: flex;
  justify-content: center;
}

#pageN {
  display: flex;
}

#pageN > li {
  padding: 5px 8px;
  margin: 0 2px;
  color: #666666;
  cursor: pointer;
}

#pageN > li:hover {
  color: #1ab7f5;
}

#pageN > li.on {
  color: #1ab7f5;
  font-weight: bold;
}

.bIner {
  margin: auto;
  font-size: 0;
}

.bIner p {
  font-size: 14px;
  text-align: start;
  align-self: center;
  color: #666666;
}

.bIner.click {
  font-size: 14px;
  color: #666666;
  margin-top: 5px;
}

.bIner.click > li {
  padding: 2px 0;
  font-size: 16px;
}

.bIner.click > li:first-child {
  display: block;
  padding-top: 5px;
}

.bIner.click > li:first-child > h3 {
  color: #333;
  font-size: 20px;
  text-align: start;
}

.bIner.click > li:nth-child(2) {
  display: flex;
  color: #999;
  font-size: 13px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.bIner.click > li:nth-child(2) > p {
  padding-right: 8px;
}

.bIner.click > li:last-child {
  padding: 10px 0;
  text-align: start;
}

.bIner > li {
  padding: 5px 0;
}

.bIner > li:first-child {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 10px;
}

.bIner > li:last-child {
  text-align: end;
}

.bIner input[type="text"], .bIner textarea {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  outline-color: #a0d8ee;
}

.bIner textarea {
  width: 100%;
  height: 250px;
  resize: none;
}

.bIner input[type="button"] {
  padding: 5px 12px;
  background-color: #66aed8;
  color: #fff;
  border: 0;
  border-radius: 2px;
  transition: .1s ease;
  cursor: pointer;
}

.bIner input[type="button"]:hover {
  background-color: #449ccf;
}

.bIner input[type="button"]:first-child {
  background-color: #666666;
  margin-right: 5px;
}

.bIner input[type="button"]:first-child:hover {
  background-color: #444444;
}

.btns {
  padding-top: 5px;
}

.btns input[type="button"] {
  padding: 5px 12px;
  background-color: #66aed8;
  color: #fff;
  border: 0;
  border-radius: 2px;
  transition: .1s ease;
  cursor: pointer;
}

.btns input[type="button"]:hover {
  background-color: #449ccf;
}

.btns input[type="button"]:first-child {
  background-color: #666666;
  margin-right: 5px;
}

.btns input[type="button"]:first-child:hover {
  background-color: #444444;
}

@media (max-width: 1050px) {
  .container {
    width: 90%;
  }
  .board {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .board.line {
    width: 90%;
  }
}

@media (max-width: 550px) {
  .container {
    width: 95%;
    padding-top: 50px;
  }
  .container.lgBtn {
    top: 5%;
  }
  .board.line {
    width: 100%;
    box-shadow: none;
    padding: 15px;
  }
  .list {
    grid-template-columns: 1.5fr 5.5fr 1.5fr 2fr;
  }
  .list > li:last-child {
    display: none;
  }
  .list#listValue > li {
    padding: 10px;
  }
  .bIner > li:first-child {
    grid-template-columns: 1fr;
    row-gap: 8px;
  }
}
