

// scss import
@import 'set';



@media(hover:hover) {
    .lgBtn {
        & > input {
            &:hover {
                transform: translateY(-5px);
                background-color: #66aed8;
                color: #fff;
            }
        }
    }           
}   


// 게시판
.board {
    width: 1000px;
    margin: auto;
    transition: .6s ease;

    &.inner, &.line {
        box-shadow: 2px 2px 6px rgba(0,0,0,0.058), 4px 4px 15px rgba(0,0,0,0.028);
        width: 750px;
        padding: 50px;
        border-radius: 5px;
    }

    &.inner {

        & > .innerTop {
            
            & > li {
                display: flex;
                justify-content: space-between;
                align-items: center;
                
                & > p {
                    font-size: 14px;
                    color: #78c9e9;
                    font-weight: 600;
                    padding-bottom: 5px;
                }

                & > input {
                    font-size: 13px;
                    letter-spacing: 2px;
                    padding: 2px 10px;
                    background-color: rgb(102, 174, 216);
                    color: #fff;
                    border: 0;
                    border-radius: 2px;
                    transition: .1s ease;
                    cursor: pointer;
                    &:hover {
                        background-color: rgb(68, 156, 207);
                    }

                }
            }
        }
        
    }

    & > h2 {
        text-align: center;
        font-size: 30px;
        color: #444444;
        padding-bottom: 30px;
    }
}

.bList {
    font-size: 14px;
}

.boardLi {
    text-align: end;

    & > input[type="button"] {
        padding: 4px 8px;
        border: 0;
        border-radius: 2px;
        color: #fff;
        cursor: pointer;
        transition: .2s ease;

        &#del {
            background-color: #555;
            margin-right: 2px;

            &:hover {
                background-color: #444;
            }
        }

        &#cor {
            background-color: rgb(218, 72, 53);

            &:hover {
                background-color: rgb(206, 59, 39);
            }
        }
    }
}

// 게시판 정보 옵션
.listOpt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    & > p {
        & > span {
            color: rgb(240, 86, 39);
            font-weight: bold;
        }
    }

    & > input {
        border: 0;
        padding: 2px 10px;
        background-color: rgb(102, 174, 216);
        box-shadow: 1px 1px 4px rgba(0,0,0,0.08);
        cursor: pointer;
        font-size: 14px;
        color: #eee;
        border-radius: 2px;
    }
}

// 게시판 리스트
.list {
    display: grid;
    grid-template-columns: 1fr 5.5fr 1.5fr 1fr 1fr;
    text-align: center;
    border-collapse: collapse;
    color: #444444;

    & > li {
        padding: 10px;
        align-self: center;

        &:not(:nth-child(5)){
            border-right: 0;
        }
    }

    &.listName {
        background-color: #ebf8fa;
        color: #666666;

        & > li {
            border-top: 0;
            
        }
    }

    &.listValue {
        border-bottom: 1px solid #eee;
        color: #222222;

        &:hover {
            background-color: rgb(248, 248, 248);
            transition: .2s ease;
        }

        & > li {
            padding: 20px 10px;
            &:nth-child(2) {
                width: fit-content;
                cursor: pointer;
                &:hover {
                    font-weight: bold;
                    color: #222222;
                }
            }

            &:not(:nth-child(2)) {
                font-size: 13px;
            }

            &:first-child, &:nth-child(3), &:nth-child(4) {
                color: #999;
            }

        }
    }
}

// 페이지 넘버
.page {
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

#pageN {
    display: flex;
    

    & > li {
        padding: 5px 8px;
        margin: 0 2px;
        color: #666666;
        cursor: pointer;

        &:hover {
            color: #1ab7f5;
        }

        &.on {
            color: #1ab7f5;
            font-weight: bold;
        }
    }
}

.bIner {
    margin: auto;
    font-size: 0;

    & p {
        font-size: 14px;
        text-align: start;
        align-self: center;
        color: #666666;
    }

    &.click {
        font-size: 14px;
        color: #666666;
        margin-top: 5px;

        & > li {
            padding: 2px 0;
            font-size: 16px;
            
            &:first-child {
                display: block;
                padding-top: 5px;
                & > h3 {
                    color: #333;
                    font-size: 20px;
                    text-align: start;
                }
            }

            &:nth-child(2) {
                display: flex;
                color: #999;
                font-size: 13px;
                border-bottom: 1px solid #eee;
                padding-bottom: 10px;

                & > p {
                    padding-right: 8px;
                }
            }

            &:last-child {
                padding: 10px 0;
                text-align: start;
            }
        }

       
    }

    & > li {
        padding: 5px 0;

        &:first-child {
            display: grid;
            grid-template-columns: 1fr 3fr;
            column-gap: 10px;
        }

        &:last-child {
            text-align: end;
        }
        
    }

    input[type="text"], textarea {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 5px;
        outline-color: #a0d8ee;
    }
    
    textarea {
        width: 100%;
        height: 250px;
        resize: none;
    }

    input[type="button"]{
        padding: 5px 12px;
        background-color: rgb(102, 174, 216);
        color: #fff;
        border: 0;
        border-radius: 2px;
        transition: .1s ease;
        cursor: pointer;
        &:hover {
            background-color: rgb(68, 156, 207);
        }

        &:first-child {
            background-color: #666666;
            margin-right: 5px;

            &:hover {
                background-color: #444444;
            }
        }

       
    }
    
}

.btns {
    padding-top: 5px;
    input[type="button"]{
        padding: 5px 12px;
        background-color: rgb(102, 174, 216);
        color: #fff;
        border: 0;
        border-radius: 2px;
        transition: .1s ease;
        cursor: pointer;
        &:hover {
            background-color: rgb(68, 156, 207);
        }

        &:first-child {
            background-color: #666666;
            margin-right: 5px;

            &:hover {
                background-color: #444444;
            }
        }

       
    }
}

// 반응형
@include board;